<div id="product1">
    <h2>Featured Products</h2>
    <p>Summer Collection New Modern Design</p>
    <select #sortSelect (change)="filterProducts(sortSelect.value)" id="sortSelect" >
        <option value="default">Sort by Price</option>
        <option value="lowToHigh">Price: Low to High</option>
        <option value="highToLow">Price: High to Low</option>
        <option value="lessThan500">Price: Less than 500</option>
        <option value="lessThan1000">Price: Less than 1000</option>
        <option value="above1000">Price: Above 1000</option>
        <option value="2000plus">Price: 2000+</option>
    </select>
    
    <div class="pro-container">
        <div class="pro" *ngFor="let product of products$ | async">
            <img [src]="product.image" [routerLink]="'/products/'+product.id" />
            <div class="des">
                <span>{{product.brand}}</span>
                <h5>{{product.description}}</h5>

                <div class="star">
                    <ng-container *ngFor="let star of generateStars(product.rating)">
                        <span>⭐</span>
                    </ng-container>
                </div>
                <h4>${{product.price}}</h4>

            </div>
            <button class="button" (click)="toggleFav(product)">Wishlist
            </button>
            <i class="fas fa-shopping-cart" (click)="addToCart(product,1)"></i>




        </div>
    </div>
</div>