<div class="footer-container">

    <div class="footer1">
        <img src="../../../assets/images/logo.png" />
        <div class="content">
            <h5>Contact</h5>
            <p><strong>Address:</strong>562 Wellington Road,<br /> Street 32,San Francisco</p>
            <p><strong>Phone:</strong>+01 2222 365 /(+91)0123456789</p>
            <p><strong>Hours:</strong>10:00-18:00,Mon-Sat</p>
            <div class="follow">
                <h5>Follow Us</h5>
                <div class="icon">
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-pinterest-p"></i>
                    <i class="fab fa-youtube"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="footer2">
        <h5>About</h5>
        <p>About Us</p>
        <p>Delivery Information</p>
        <p>Privacy Policy</p>
        <p>Terms & Conditions</p>
        <p>Contact Us</p>
    </div>
    <div class="footer3">
        <h5>My Account</h5>
        <p>Sign In</p>
        <p>View Cart</p>
        <p>My Wishlist</p>
        <p>Help</p>
    </div>

</div>