<app-navbar></app-navbar>

<div *ngIf="product$ | async as products">
    <div class="cart" *ngIf="products.length > 0;else nocartitems">
        <table width="100%">
            <thead>
                <tr>
                    <td>Image</td>
                    <td>Product</td>
                    <td>Price</td>
                    <td>Quantity</td>
                    <td>Subtotal</td>
                    <td>Counter</td>
                    <td>Remove</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of products">
                    <td><img [src]="product.image" /></td>
                    <td>{{ product.description }}</td>
                    <td>${{ product.price }}</td>
                    <td>{{ product.quantity }}</td>
                    <td>{{ product.price * product.quantity }}</td>
                    <td>
                        <span class="span" (click)="increment(product)">+</span>
                        <span class="span" (click)="decrement(product)">-</span>
                    </td>
                    <td (click)="removeCart(product)" class="span">x</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div id="subtotal" *ngIf="products.length > 0">
        <h3>Cart Total</h3>
        <table>
            <tr>
                <td>Cart Subtotal</td>
                <td>${{ totalPrice }}</td>
            </tr>
            <tr>
                <td>Shipping</td>
                <td>free</td>
            </tr>
            <tr>
                <td><strong>Total Quantity: {{ totalQuantity }}</strong></td>
                <td><strong>Total: ${{ totalPrice }}</strong></td>
            </tr>
        </table>
        <button (click)="checkout()">Proceed to checkout</button>

    </div>
</div>

<ng-template #nocartitems>
    <div class="no-fav-content">
        <h2>No items added to cart yet</h2>
        <p>Explore our shop and add your products.</p>
        <a [routerLink]="'/'" class="explore-button">Start Exploring</a>
    </div>
</ng-template>

<app-footer></app-footer>