<app-navbar></app-navbar>
<div id="about-head" >
        <img src="../../assets/images/about/a6.jpg"/>
        <div class="content">
            <h2>Who we are?</h2>
            <p>Welcome to Cara, where fashion meets quality. We are committed to bringing you the latest trends
            with the highest standards of craftsmanship.Our mission is to empower individuals through fashion, providing unique, stylish, and sustainable clothing that
            makes a statement.Quality: We never compromise on quality.Sustainability: We prioritize eco-friendly materials and processes.Innovation: We are always on the cutting edge of fashion trends.
        Founded in 2016, Cara started with a small boutique and has grown into a beloved brand recognized
        for its innovative designs and commitment to sustainability.</p>
        </div>
</div>


    <app-footer></app-footer>
