body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.con {
    display: flex;
    flex-direction: column;

}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: transparent !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-thick {
    border-color: rgba(0, 0, 0, 0.12);
}

::ng-deep .mat-input-element:focus {
    background-color: transparent !important;
    box-shadow: none !important;
}

.container1 h1,
.container2 h1 {
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
}

.container2 {
    margin-left: 5%;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 40%;
    margin-left: 30%;
    margin-top: 2%;
}

h1 {
    margin-bottom: 20px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.button {
    height: 60px;
    width: 100%;
    padding: 0 15px;
    font-size: 17px;
    margin-bottom: 1.2rem;
    border: 1px solid #ddd;
    border-radius: 6px;
    outline: none;
    color: #fff;
    background: rgb(29, 120, 255);
    font-size: 1.2rem;

    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 1rem;
    cursor: pointer;

    transition: 0.4s;

}

.button:hover {
    background: rgb(5, 102, 247);
}


.disabled {
    height: 60px;
    width: 100%;
    padding: 0 15px;
    font-size: 17px;
    margin-bottom: 1.2rem;
    border: 1px solid #ddd;
    border-radius: 6px;
    outline: none;
    color: #fff;
    background: rgb(156, 188, 235);
    font-size: 1.2rem;

    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 1rem;
    cursor: pointer;

    transition: 0.4s;

}