#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 99;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
}

.search {
    display: flex;
    align-items: center;
    width: 30%;
}

.search input {
    border: none;
    padding: 5px;
    width: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    outline: none;
    box-shadow: none;
}

.search i {
    background-color: white;
    padding: 8px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
}

#navbar a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover,
#links li a.active,
#links li a:active {
    color: #088178;
}

.cart {
    display: flex;
    position: relative;
}

.cart .items i {
    position: relative;
}

.cart .items p {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: rgba(163, 49, 0, 0.941);
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
}

.one {
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: red;
    border-radius: 5px;
    top: -5px;
    right: 12px;
}

.loginsignup {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.hamburger {
    display: none;
    cursor: pointer;
}

#navbar_hamburger {
    display: none;
}

.hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px 0;
    transition: 0.4s;
}

@media (max-width: 500px) {
    #header {
        padding: 10px;
    }

    .search {
        width: 50%;
    }

    .hamburger {
        display: block;
        position: absolute;
        right: 20px;
        top: 20px;
        z-index: 1000;
    }

    #navbar_hamburger {
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        height: 50vh;
    }

    #navbar_hamburger li {
        list-style: none;
        padding: 0 20px;
    }

    #navbar_hamburger a {
        text-decoration: none;
        font-size: 16px;
        font-weight: 600;
        color: #1a1a1a;
        transition: 0.3s ease;
    }

    #navbar_hamburger li a:hover,
    #links li a.active,
    #links li a:active {
        color: #088178;
    }

    #navbar {
        display: none;
    }

    .search {
        display: none;
    }

    .sidebar {
        position: fixed;
        top: 0;
        left: -200px;
        width: 200px;
        height: 100%;
        color: black;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        transition: 0.3s;
        z-index: 999;
    }

    .open {
        left: 0;
        background-color: #E3E6F3;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .loginsignup {
        flex-direction: column;
        align-items: flex-end;
        padding-right: 20px;
    }
}