#contact-details {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 2%
}

#contact-details .details {
    width: 40%;
    padding-left: 5%;
}

#contact-details .details span {
    font-size: large;

}

#contact-details .details span {
    font-size: 12px;
}

#contact-details .map {
    height: 400px;
    width: 45%;
}

#contact-details .map iframe {
    height: 100%;
    width: 100%;
}

.icons i {
    padding: 5px;
    font-size: 20px;

}

.icons a {
    text-decoration: none;
    color: black;
}