<app-navbar></app-navbar>
<div id="about-head">
    <img src="../../assets/images/about/a6.jpg" />
    <div class="content">
        <h1>ABOUT-US</h1>
        <h2>Who we are?</h2>
        <p>Welcome to Cara, where fashion meets quality. We are committed to bringing you the latest trends
            with the highest standards of craftsmanship.Our mission is to empower individuals through fashion, providing
            unique, stylish, and sustainable clothing that
            makes a statement.Quality: We never compromise on quality.
            Founded in 2016, Cara started with a small boutique and has grown into a beloved brand recognized
            for its innovative designs and commitment to sustainability.</p>
    </div>
</div>
<div id="about-head">
    <div class="content">
        <h1>Privacy Policy</h1>
        <p>At Cara Clothing Company, we are committed to safeguarding your personal information. When you visit our
            website, we may
            collect personal data such as your name, email address, and payment details to provide you with our
            services. We use
            this information to process transactions, deliver orders, and enhance your shopping experience. We implement
            strict
            security measures to protect your data and do not share it with third parties, except as necessary to
            fulfill your
            requests or comply with legal obligations. Your privacy is important to us, and we ensure that all personal
            information
            is handled with the utmost care and confidentiality. If you have any questions or concerns about our privacy
            practices,
            please <a [routerLink]="'/contact'">contact us</a></p>
    </div>
    <img src="../../assets/images/about/a4.png" />
</div>
<div id="about-head">
    <img src="../../assets/images/about/a3.png" />
    <div class="content">
        <h1>TERMS & CONDITIONS</h1>

        <p>Welcome to Cara Clothing Company. By accessing and using our website, you agree to comply with and be bound
            by the
            following terms and conditions. All content, products, and services available on this site are provided "as
            is" without
            warranties of any kind. We reserve the right to update or modify these terms at any time without prior
            notice. Your
            continued use of the site constitutes acceptance of any changes. You are responsible for maintaining the
            confidentiality
            of your account information and for all activities that occur under your account.</p>
    </div>
</div>
<app-footer></app-footer>


