
.login {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .container{
      min-height: 100vh;
      width:100%;
      background-color:#fff;
      
  }
  .loginform{
      position:absolute;
      top:50%;
      left:50%;
      transform: translate(-50%,-50%);
      max-width: 430px;
      width:100%;
      background: #fff;
      border-radius: 7px;
      box-shadow: 0 5px 10px rgba(0,0,0,0.3);
      padding: 2rem;
  }
  .loginform > header{
      font-size:2rem ;
      font-weight: 500;
      text-align: center;
      margin-bottom: 1.5rem;
  
  
  }
  .form-control{
       height: 60px;
       width: 100%;
       padding: 0 15px;
       font-size:17px;
       margin-bottom: 10px;
       border:1px solid #ddd;
       border-radius:6px;
       outline: none;
  }
  .form-control:focus{
      box-shadow: 0 1px 0 rgba(0,0,0,0.2);
  }
  
  .loginform a{
      font-size:16px;
      color:rgb(0, 68, 253) ;
      text-decoration: none;
  } 
  .loginform a:hover{
      text-decoration:underline;
  }
  .button{
      height: 60px;
      width: 100%;
      padding: 0 15px;
      font-size:17px;
      margin-bottom: 1.2rem;
      border:1px solid #ddd;
      border-radius:6px;
      outline: none;
      color:#fff;
      background:rgb(29, 120, 255);
      font-size:1.2rem;
  
      font-weight:500;
      letter-spacing: 1px;
      margin-top: 1rem;
      cursor:pointer;
      
      transition: 0.4s;
  
  }
  .button:hover{
      background:rgb(5, 102, 247);
  }
  .signup{
      font-size: 17px;
      text-align: center;
  
  }
  .signup label{
      color:rgb(29, 120, 255);
      cursor: pointer;
  }
  .validationdiv{
      font-size: 15px;
      color: rgb(29, 120, 255);
      margin-top: 0;
     
      margin-bottom: 1.2rem;
  
  }
  .disabled{
      height: 60px;
      width: 100%;
      padding: 0 15px;
      font-size:17px;
      margin-bottom: 1.2rem;
      border:1px solid #ddd;
      border-radius:6px;
      outline: none;
      color:#fff;
      background:rgb(156, 188, 235);
      font-size:1.2rem;
  
      font-weight:500;
      letter-spacing: 1px;
      margin-top: 1rem;
      cursor:pointer;
      
      transition: 0.4s;
  
  }