.pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
    text-align: left;
}

.pro img {
    width: 100%;
    border-radius: 20px;
}

.pro-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;

    padding: 20px;
    margin-left: 20px;
}

h1 {
    margin-top: 50px;
    margin-left: 40%;
    font-size: 40px;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content h3 {
    margin-left: 50px;
}

.content button {
    color: white;
    background-color: rgb(0, 98, 98);
    border: none;
    margin-left: 40px;
    padding: 10px;
    margin-bottom: 20px;
}

.button {
    position: absolute;
    right: 10%;
    margin-top: 10px;
    padding: 5px;


    border-radius: 100%;
    border: none
}

.no-fav-content {
    text-align: center;
    padding: 50px;


    margin: 20px 0;
}

.no-fav-content h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.no-fav-content p {
    font-size: 18px;
    margin-bottom: 20px;
}