@media only screen and (max-width:799px) {
    #prodetails {
            display: flex;
            flex-direction: column;
         
            padding: 0 !important;
         
            
        }
                .button {
                    color: white;
                    background-color: rgb(0, 98, 98);
                    border: none;
                    width: 80% !important;
                    padding: 10px;
                    margin-bottom: 20px;
        
        
                }
    .section1 img {
            height: 100% !important;
            width: 100% !important;
            padding: 20px;
            object-fit: contain;
        }
                .section2 p {
                    font-size: 10px !important;
                    color: #465b52;


                }
                .section h1{
                    font-size: 12px;
                }
        
                .section2 h3 {
                    font-size: 20px !important;
                    margin-top: 10px;
                    color: #222;
                    font-weight: 600;
                }
                                .option {
                                    margin-top: 10px;
                                }
                .option input{
                    width:30px !important
                }
                .section2{
                    margin-top: 10px !important;
                }
                                .pro {
                                    min-width: 180px !important;
                                }
                
                                .button {
                                    font-size: 10px;
                                    text-align: left !important;
                                    width: 40% !important;
                                }
                
                                #product1 h2 {
                                    font-size: 24px !important;
                                }
}





#prodetails {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px 20px;
    width: 100%;
   
}

.section1 {
   
    width: 40%;
    height: 86vh;


}

.section1 img {
    height: 90%;
    width: 100%;
    padding: 20px;
    animation-name: imageani;
    animation-duration: 1s;
    transition: 0.3s cubic-bezier(0.36, 0.25, 0.48, 0.75);
}

.section2 {
    display: flex;
   
    flex-direction: column;
    width: 60%;
    


}

.section2 p {
    font-size: 15px;
    color: #465b52;
}

.section2 h3 {
    font-size: 30px;
    margin-top: 10px;
    color: #222;
}

.butoondiv {
    display: flex;
    flex-direction: row;

}

.counter {
    color: black;
    background-color: rgb(247, 247, 247);
    font-size: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 100%;




}

.button {
    color: white;
    background-color: rgb(0, 98, 98);
    border: none;
    width: 15%;
    padding: 10px;
    margin-bottom: 20px;


}

.option {
    display: flex
}

.option select,
input {
    margin-bottom: 30px;
    margin-right: 10px;
    padding: 5px;

}

.option input {
    width: 5%;

}
#product1 {
    text-align: center;
}

#product1 h2 {
    font-size: 46px;

    color: #222;
    margin-top: 20px;
}

#product1 p {
    font-size: 16px;
    color: #465b52;

}

@media only screen and (max-width:799px) {
    .pro {
        min-width: 180px !important;
    }

    .button {
        font-size: 10px;
        text-align: left !important;
        width: 40% !important
    }

    #product1 h2 {
        font-size: 24px !important;
    }
}

.pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
    text-align: left;
}

/* .pro:hover{
     box-shadow: 20px 20px 30px rgba(0,0,0,0,06);
} */
.pro img {
    width: 100%;
    border-radius: 20px;
}

.des {
    text-align: start;
    padding: 10px 0;
}

.des span {
    color: #606063;
    font-size: 12px
}

.des h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

.des i {
    font-size: 12px;
    color: rgb(243, 181, 25)
}

.des h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;


}

.cart {
    /* width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;

    /* font-weight: 500;

    border: 1px solid #cce7d0;
    /* position: absolute; */
    /* bottom: 20px;
    right: 10px;  */
}

.pro i {
    font-size: 20px;
    position: absolute;
    right: 10px;
    margin-top: 10px;
}

.pro-container {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    white-space: nowrap;
    padding: 20px;
    margin-left: 20px;
    gap: 20px;
    scroll-behavior: smooth;
    -ms-overflow-style: none;  
    scrollbar-width: none;  
}

.pro-container::-webkit-scrollbar {
    display: none; 
}



.button {

    width: 30%;
    color: white;
    background-color: rgb(0, 98, 98);
    border: none;
    border-radius: 10px;

    padding: 10px;
    margin-bottom: 20px;

    text-align: center;

}

.button:hover {
    cursor: pointer;
}
.customer-reviews {
   
    padding: 20px;
   
    width:100%;
   
}

.customer-reviews h3 {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.review-container {
    margin-top: 10px;
    max-height: 300px;
    overflow: scroll;
    
}
.review-container::-webkit-scrollbar{
    display: none;
}

.review {
   
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
}

.review p {
    margin: 0;
    color: #999;
}
.review h4{
    font-size: 20px;
}

.timestamp {
    color: #999;
    font-size: 0.85rem;
}

.add-review-form {
    margin-top: 15px;
}

.add-review-form textarea {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    /* Allows vertical resizing of textarea */
}

.add-review-form button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
    background-color: rgb(0, 98, 98);
   

}

.add-review-form button:hover {
    background-color: #0056b3;
}

@keyframes imageani{
    from{
        transform: translateX(-200px);
    }
    to{
        transform: translateX(0);
    }
}