<app-navbar></app-navbar>

<div id="prodetails" *ngIf="product$ | async as product">
    <div class="section1">
        <img [src]="product?.image" />
    </div>
    <div class="section2">
        <h3>{{product.description}}</h3>
        <strong>
            <h1>${{product.price}}</h1>
        </strong>
        <div class="option">
            <select>
                <option>Select Size</option>
                <option>S</option>
                <option>M</option>
                <option>L</option>
                <option>XL</option>
                <option>XXL</option>
            </select>
            <input type="number" value="1" [(ngModel)]="value" />
        </div>
        <button class="button" (click)="addToCart(product,value)">Add To Cart</button>
        <h3>Product Details</h3>
        <p>{{product.details}}</p>
    </div>
</div>
<div id="product1">
    <h2>Best Selling Products</h2>
    <p>Summer Collection New Modern Design</p>
    <div class="pro-container">
        <div class="pro" *ngFor="let product of products$ | async">
            <img [src]="product.image" [routerLink]="'/products/'+product.id" />
            <div class="des">
                <span>{{product.brand}}</span>
                <h5>{{product.description}}</h5>

                <div class="star">
                    <ng-container *ngFor="let star of generateStars(product.rating)">
                        <span>⭐</span>
                    </ng-container>
                </div>
                <h4>${{product.price}}</h4>

            </div>
           




        </div>
    </div>
</div>
<app-footer></app-footer>